[Unit]
Description=Arduino data handler service
After=network.target

[Service]
ExecStart=python3 main.py
WorkingDirectory=/home/user/novikov/
Type=simple
Restart=always
RestartSec=10
StandardOutput=null

User=user

[Install]
WantedBy=multi-user.target